@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333 strong;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(204, 204, 204, 1);
  padding: 15px 25px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s;
  margin-bottom: 25px;
}

.container:hover {
  transform: scale(1.001);
  box-shadow: 0px 26px 70px 1px rgba(84, 83, 83, 0.883);
}

.container h1 {
  font-weight: 500;
}

.copyright {
  position: absolute;
  bottom: 50px;
}

@media (max-width: 450px) {
  .container h1 {
    font-size: 22px;
  }
}
